<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>Spotify 2.0</h3>
    <p>
      Dit project voor Client-Side-Web-Frameworks-individueel heet Spotify 2.0. Het zal een applicatie zijn
      waarin je songs kan zien met de betreffende album en/of artiest. Er zal ook een mogelijk zijn om songs
      toe te kunnen voegen. Dit zal alleen maar gedaan kunnen worden door gebruikers die al ingelogd zijn. Als
      je niet ingelogd bent dan kan je alleen maar de songs in een lijst zien.
    </p>
    <p>
      Zoals hieronder te zien is zijn er 4 entiteiten. Je hebt een entiteit song. Deze zal de naam van de song
      hebben, de lengte van de song en de release date van deze song. De gebruiker zal deze zelf moeten
      invullen. Ook zal er een album en artiest veld zijn. Dit zal een select dropdown worden waaruit de
      gebruiker zal kunnen kiezen tussen een album en artiest. Als de album en artiest niet erbij staat dan
      zal er ook een other staan waaruit de gebruiker kan kiezen. Ook zal een gebruiker kunnen aangeven of hij
      een song wil favoriten of niet. Deze zal dan in die persoons lijst terecht komen. Een andere entiteit is
      de album. Deze zal de naam en hoeveelheid nummers hebben. Ook zal die een lijst van nummers hebben en de
      artiest die het album heeft gemaakt. De derde entiteit is de Artiest entiteit. Deze zal de naam van de
      artiest hebben, de geboortedatum van de artiest en de lijst met albums. De laatste entiteit is de
      gebruiker. Deze zal een emailadres hebben, een wachtwoord (ook wel de gebruikersnaam en wachtwoord voor
      het registeren/inloggen) en een geboortedatum.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/developer.jpg"
          class="card-img-top rounded-circle border profile-pic"
          alt="..."
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Rade Grbic</h5>
        <p class="card-text">
          Studentnummer: 2145417
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-3">
    <p>Song</p>
    <ul>
      <li>title: string</li>
      <li>duration: number</li>
      <li>releaseDate: date</li>
      <li>album: Album</li>
      <li>artist: Artist</li>
      <li>isFavorite: boolean</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>Album</p>
    <ul>
      <li>name: string</li>
      <li>amountOfSongs: number</li>
      <li>[songs]: Song</li>
      <li>artist: Artist</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>Artist</p>
    <ul>
      <li>naam: string</li>
      <li>[albums]: Album</li>
      <li>birthdate: date</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>User</p>
    <ul>
      <li>emailAddress: string</li>
      <li>birthDate: date</li>
      <li>password: string</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
    <p>Vul hier zelf meer functionaliteit toe.</p>
  </div>
</div>
